<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destacados</title>
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
<header>
  <ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/destacados}">Destacados</a></li>
    <li> <a th:href="@{/galeria}">Galería de fotos</a></li>



  </ul>





</header>

<h1>ELEMENTOS DESTACADOS DE HONKAI STAR RAIL</h1>

<h2>Personajes jugables y sus tipos y vías</h2>

<table>
  <tr>
    <th>Tipo</th>
    <th>Vía</th>
    <th>Personaje</th>
    <th>Imagen</th>

  </tr>
  <tr>
    <td>Físico</td>
    <td>Destrucción</td>
    <td>Fainón</td>
    <td><img src="Imgs/fainon.webp"></td>


  </tr>

  <tr>
    <td>Hielo</td>
    <td>Erudición</td>
    <td>Sra. Herta</td>
    <td><img src="Imgs/sraherta.webp "></td>


  </tr>

  <tr>
    <td>Imaginario</td>
    <td>Conservación</td>
    <td>Aventurino</td>
    <td><img src="Imgs/avenhsr.png"></td>


  </tr>

  <tr>
    <td>Fuego</td>
    <td>Nihilidad</td>
    <td>Mortenax Blade</td>
    <td><img src="Imgs/mblade.webp"></td>


  </tr>
  <tr>
    <td>Rayo</td>
    <td>Cacería</td>
    <td>Ashveil</td>
    <td><img src="Imgs/ashveil_card.webp"></td>


  </tr>




</table>

</body>
</html>