<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
<header>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/destacados}">Destacados</a></li>
        <li> <a th:href="@{/galeria}">Galería de fotos</a></li>


    </ul>


</header>

<h1>Galería de imágenes utilizadas</h1>

<div>

<img src="Imgs/fainon.webp">
<img src="Imgs/sraherta.webp">
<img src="Imgs/avenhsr.png">
<img src="Imgs/mblade.webp">
<img src="Imgs/ashveil_card.webp">

</div>

</body>
</html>