<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
    <link rel="stylesheet" href="estilos.css">

</head>
<body>

<header>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/destacados}">Destacados</a></li>
        <li> <a th:href="@{/galeria}">Galería de fotos</a></li>



    </ul>





</header>

<section>

<h1>HONKAI STAR RAIL</h1>
<p>El honkai star rail es un RPG gratuito para PC y móvil en el que viajas por distintos mundos resolviendo problemas intergalácticos. </p>
<img src="Imgs/imgHONKAI.avif"/>

</section>


</body>
</html>