section{
  text-align: center;

}
h1, header{
    border-style: solid;
    border-width: 2px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: space-around;
}


body{
    background-color: rgb(227 202 234);
    font-family: "Courier New";

}

table, th, td{
    text-align: center;
    border-style: solid;
    border-width: 2px;
    margin: 0;

}

div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

